@model Pimbeck.Models.Reservas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhas</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_saida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_saida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_quarto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_funcionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_reserva">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
