@model Pimbeck.Models.Quartos

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar quarto</h1>

<h3>Está certo que você deseja deletar o quarto?</h3>
<div>
    <h4>Quartos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero_quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero_quarto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtd_pessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtd_pessoas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_categoria_quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_categoria_quarto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_quarto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
